.App {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.5%;
  max-width: 1080px;
  display: flex;
}

.square {
  /*background: #fff;*/
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.colorButton {
  border: none;
  height: 34px;
  min-width: 34px;
}
.colorMenuList {
  list-style-type: none;
  padding: 0px;
}

.Grid {
  margin-left: auto;
}
.ColorMenu {
  margin-right: auto;
  text-align: left;
  padding: 17px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
