.App {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2.5%;
  max-width: 1080px;
  display: flex;
}

.square {
  /*background: #fff;*/
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.colorButton {
  border: none;
  height: 34px;
  min-width: 34px;
  display: inline-flex;
}
.colorMenuList {
  list-style-type: none;
  padding: 0px;
}
.colorMenuList li {
  padding: 1px;
}
  .deleteColor {
  border: none;
  /* border-left: none;
  border-right: none;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff; */
  width: 17px;
  height: 20px;
  padding: 0px;
}
.colorSelect {
  height: 34px;
  width: 20px;
}
.colorOption {
  background: transparent;
}

.Grid {
  margin-left: auto;
}
.ColorMenu {
  margin-right: auto;
  text-align: left;
  padding: 17px;
}

.App-link {
  color: #61dafb;
}
